<h6>
  {{#if info.media-title}}
  {{info.media-title}}
  {{else}}
  No Media
  {{/if}}
</h6>
<div class="progress">
  <div class="progress-bar"
  role="progressbar"
  aria-valuenow="{{info.pos}}"
  aria-valuemin="0"
  aria-valuemax="{{info.end}}"
  style="width:{{info.width}}%">
  </div>
</div>
<h6>{{info.prettyTime}}</h6>
<button type="button" class="btn btn-sm btn-default" onclick="sendCommand({'command': ['set_property', 'pause', false]})">
  <i class="fa fa-play" style="font-size: 1.5em;"></i>
</button>
<button type="button" class="btn btn-sm btn-default" onclick="sendCommand({'command': ['set_property', 'pause', true]})">
  <i class="fa fa-pause" style="font-size: 1.5em;"></i>
</button>
<button type="button" class="btn btn-sm btn-default" onclick="sendCommand({'command' : ['stop']})">
  <i class="fa fa-stop" style="font-size: 1.5em;"></i>
</button>
<button type="button" class="btn btn-sm btn-default" onclick="sendCommand({'command': ['playlist-prev']})">
  <i class="fa fa-step-backward" style="font-size: 1.5em;"></i>
</button>
<button type="button" class="btn btn-sm btn-default" onclick="sendCommand({'command': ['playlist-next']})">
  <i class="fa fa-step-forward" style="font-size: 1.5em;"></i>
</button>
<br>
<br>
<p>Path: {{info.path}}
<p>File Name: {{info.filename}}
<br>
<p>Loop
  {{#if info.loop}}
  <i class="fa fa-circle" style=" color: green;"></i>
  {{/if}}
</p>
