<div class="col-sm-3 card-wrapper">
  <div class="w3-card">
    <header class="w3-container w3-light-gray">
      <p>{{this.name}} <span class="label label-default pull-right ext-tag">{{this.ext}}</span></p>
    </header>
    <div class="w3-container">
      <img src="/img/thumbs/{{this.name}}.png" style="width:100%; margin-bottom:0px;">
    </div>
    <footer class="w3-container w3-light-gray">
      <button class="btn-trans" id="{{this.fullPath}}" onclick="playURL(this.id);">
        <img src="/img/play.png" class="img-mini-btn">
      </button>
      <button name="{{this.name}}{{this.ext}}" type="button" class="btn btn-xs btn-primary pull-right btn-preset" onclick="setPresetVideo(this.name);">Make Preset</button>
    </footer>
  </div>
</div>
